.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-gap: 1em 1em;
    place-items: center center;
    place-content: center center;
}