.bookmark {
    fill: grey;
    cursor: pointer;
}

.bookmark:hover {
    fill: black;
}

.clap {
    fill: var(--clap-color);
    cursor: pointer;
}

.clap:hover {
    fill: var(--clap-hover-color);
}